div {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 20px;
    padding: 14px;
}
a:link, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}
a {
    color: #fff;
    text-decoration: none;
}